/*公共样式*/
.fl{
    float: left;
}
.fr{
    float: right;
}
.mgtop2{
    margin-top: 2px;
}
.mgright{
    margin-right: 20px;
}
i.red{
    color: red;
}
/*表格系列*/
body,html{background-color: #fff;}
.table-list tr th,.nocheck-table tr th,.wenbenlast tr th{
    line-height: 45px;
    border: 1px solid #CDCDCD;
    border-left: 0;
    border-right: 0;
    /*font-weight: 700;*/
    color: #3E4E5F;
    text-align: center;
    letter-spacing: 1px;
    font-size: .95em;
}
.table-list tr td,.nocheck-table tr td,.wenbenlast tr td{
    height: 41px;
    border: 1px solid #cdcdcd;
    border-left: 0;
    border-right: 0;
    color: #333;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 12.5px;
}
.caption{
    text-align: left;
    margin-bottom: 25px;
}
/*按钮系列*/
.add{
    display: inline-block;
    line-height: 30px;
    height: 29px;
    padding: 0 30px;
    background-color: #00A388;
    color: #fff;
    font-size: .8em;
    cursor: pointer;
    border-radius: 2px;
}
.seach-table{
    margin-bottom: 20px;
}
.add:hover{
    background-color: #00826C;
    transition: all 0.5s ease-out 0s;
}
.add.margin-top{
     
}
.edit-a{
    display: inline-block;
    width: 25px;color: #333; 
}
.big{
    font-size: 1.18em;
}
.color0{
    color: #3498DB;
}
.color1{
    color: #00A388;
}
.color2{
    color: #E74C3C;
}
.edit-a:hover .iconfont{
    font-size: 1.7em;
    transition: all 0.5s ease-out 0s;
}
.label{
    padding-right: 15px;
}
.label .check-word{
    position: relative;
    display: inline-block;
    padding-top: 3px;
    padding-left: 10px;
    font-size: .9em;
    color: #333;
}
.btn{
    border: 1px solid #E7654D;
    background-color: #E7654D;
    padding: 0px 7px;
    margin-right: 5px;
    border-radius: 2px;
    cursor: pointer;
    color: #FEDED8;
    font-family: "微软雅黑";
    transition: all 0.2s ease-out 0s;
}
.btn:hover{
    border: 1px solid #BF5F4D;
    background-color: #BF5F4D;
}
/*图片系列*/
.ad-img{
    display: inline-block;
    height: 40px;
    margin: 5px 0;
}
.status-img{
    display: inline-block;
    cursor: pointer;
}
/*输入框*/
.search-input{
    position: relative;
}
.input-text {
    width: 22.5em;
    height: 26px;
    border: 1px solid #CDCDCD;
    text-indent: 3px;
    color: #696969;
    font-size: 13px;
}
.text-margin{
    margin-top: 2px;
    width: 320px;
    float: right;
}
.search-input .button {
    border: 1px solid #30465D;
    height: 28px;
    padding: 0px 10px 1px;
    background: #30465D;
    color: #FFF;
    opacity: 0.9;
    cursor: pointer;
    font-family: "微软雅黑";
    transition: all 0.5s ease-out 0s;
}
.postion {
    position: absolute;
    right: 0px;
    top: 2px;
}
.search-input .button:hover{
    border: 1px solid #E74C3C;
    background: #E74C3C;
}
/*下拉选择菜单*/
.selecte-name{
    font-size: .9em;
    color: #666;
}
.seach-table{
    margin-bottom: 25px;
    height: 26px;
    position: relative;
}
.seach-table tr{
    overflow: hidden;
}
.seach-table select{display: none;}
.select_box{font-size: 13px;color: #696969;width: 180px; height: 26px;line-height: 26px;margin-right: 15px;display: inline-block;text-align: left;font-family: "微软雅黑";}
.select_showbox{border: 1px solid #CDCDCD;height: 26px;padding-left: 5px;background:#fff url(../images/ico-select.png) no-repeat 158px 9px;}
.select_option{border: 1px solid #CDCDCD;border-top: none;display: none;background-color: #fff; z-index: 999;position: relative;}
.select_option li{padding-left: 5px;}
.select_option li.selected{background-color: #F3F3F3; }
.select_option li.hover{background: #FF7E66; color: #fff;}
/*下拉选择菜单 end*/
/*thispage*/
#pageGro{ width:320px;margin:0px auto;}
#pageGro div,#pageGro div ul li{ font-size:12px; color:#999; line-height:23px; float:left; margin-left:5px;}
#pageGro div ul li{ width:22px; text-align:center; border:1px solid #999; cursor:pointer;}
#pageGro div ul li.on{ color:#fff; background:#3E4E5F; border:1px solid #3E4E5F;}
#pageGro .pageUp,#pageGro .pageDown{ width:63px; border:1px solid #999; cursor:pointer;}
#pageGro .pageUp{ text-indent:20px; background:url(../images/pageUp.png) 5px 7px no-repeat;}
#pageGro .pageDown{ text-indent:6px; background:url(../images/pageDown.png) 46px 6px no-repeat;}
#pageGro .align{text-indent:-16px;}
.num{
    font-style: normal;
    padding: 0 5px;
    color: #E7654D;
}
.num-con{
    padding-right: 20px;
    color: #999;
}


